<!DOCTYPE html>
<html>
<head>
	<title>Guess the RGB</title>
	<link rel="stylesheet" type="text/css" href="public/colorGame.css">
	<link rel="icon" type="image/png" href="http://www.journalonline.co.uk/favicon/favicon-196.png">
</head>
<body>
	<h1>The World Famous 
	<br>
	<span id="colorDisplay">RGB</span>
	<br>
	 GUESSING GAME</h1>
	<div id="stripe">
		<button id="reset">New Game</button>
		<span id="message"></span>
	</div>
	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>
<footer>COPYRIGHT &copy; Jackie Choi 2017</footer>
<script type="text/javascript" src="public/colorGame.js"></script>
</body>
</html>